<h1>Finances</h1>

<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>Total Deposits</th>
      <th>Total Withdrawals</th>
      <th>Available Funds</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= Deposit.all.pluck(:amount).sum %></td>
      <td><%= Withdrawal.all.pluck(:amount).sum %></td>
      <td><%= Deposit.all.pluck(:amount).sum - Withdrawal.all.pluck(:amount).sum %></td>
    </tr>
  </tbody>
</table>
<p>Available Funds is the money in the cash envelope right now. </p>
<br>
<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>Total Amount Owed</th>
      <th>Total Funds</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= Officer.all.pluck(:amount_owed).sum %></td>
      <td><%= Deposit.all.pluck(:amount).sum - Withdrawal.all.pluck(:amount).sum + Officer.all.pluck(:amount_owed).sum %></td>
    </tr>
  </tbody>
</table>
<p>Total Funds is the amount the club technically has. Deopsits - Withdrawals + Amount Owed by officers. </p>
