<p id="notice"><%= notice %></p>

<p>
  <strong>Officer UIN:</strong>
  <%= @officer.officer_uin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @officer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @officer.email %>
</p>

<p>
  <strong>Amount Owed:</strong>
  <%= @officer.amount_owed %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
