<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Officer UIN</th>
      <th scope="col">Amount</th>
      <th scope="col">Notes</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @withdrawal.officer_uin %></td>
      <td><%= @withdrawal.amount %></td>
      <td><%= @withdrawal.description %></td>
      <td><%= @withdrawal.date %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal), class:"btn btn-warning btn-lg btn-block" %>
<%= link_to 'Back', withdrawals_path, class:"btn btn-dark btn-lg btn-block"%>
