<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Officer UIN</th>
      <th scope="col">Amount</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @withdrawal.officer_uin %></td>
      <td><%= @withdrawal.amount %></td>
      <td><%= @withdrawal.title %></td>
      <td><%= @withdrawal.description %></td>
      <td><%= @withdrawal.date %></td>
    </tr>
  </tbody>
</table>


<p>
  <strong>Officer UIN:</strong>
  <%= @withdrawal.officer_uin %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @withdrawal.amount %>
</p>

<p>
  <strong>Title:</strong>
  <%= @withdrawal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @withdrawal.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @withdrawal.date %>
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path, class:"btn btn-dark btn-lg btn-block"%>
