<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>TAMU Badmitton Club Payment Recorded on <%= @payment.date %></h1>
    <p>
	  Howdy (this is UIN, want name) <%= @payment.member_uin %>! 
      Your recently paid dues to the TAMU Badmitton Club have been recorded.<br>
    </p>
	<p>Recorded date: <%= @payment.date %></p>
	<p>Payment Amount: <%= @payment.amount %></p>
	<p>Payment Method: <%= @payment.payment_mtd %></p>
	<p>Membership expires: <%= @payment.membership_expiration %></p>
	<p>Officer Paid to: (DO NOT LEAVE UIN... get name or remove line) <%= @payment.officer_uin %></p>
    <p>
      If you believe this email was not meant for you, please email us or ignore it.
    </p>
    <p>Have a great day!</p>
  </body>
</html>