<%= form_with(model: deposit) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :officer_uin %>
    <%= form.number_field :officer_uin, class:"form-control", placeholder:"Officer UIN" %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, class:"form-control", placeholder:"Amount" %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control", placeholder:"Notes" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, class:"form-control", placeholder:"Date" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-warning btn-lg btn-block'%>
  </div>
<% end %>
