<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Officer</th>
      <th scope="col">Amount</th>
      <th scope="col">Notes</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @deposit.officer.name %></td>
      <td><%= @deposit.amount %></td>
      <td><%= @deposit.notes %></td>
      <td><%= @deposit.date %></td>
    </tr>
  </tbody>
</table>

<!-- <p>
  <strong>Officer uin:</strong>
  <%= @deposit.officer_uin %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deposit.date %>
</p> -->

<%= link_to 'Edit', edit_deposit_path(@deposit), class:"btn btn-warning btn-lg btn-block" %>
<%= link_to 'Back', deposits_path, class:"btn btn-dark btn-lg btn-block" %>
