<p id="notice"><%= notice %></p>

<p>
  <strong>Officer uin:</strong>
  <%= @deposit.officer_uin %>
</p>

<p>
  <strong>Transaction Type:</strong>
  <%= @deposit.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deposit.date %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
