<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_mtd %>
    <%= form.select(:payment_mtd, ['Cash', 'Venmo', 'Other'], {}, {}) %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :membership_type %>
    <%= form.select(:membership_type, ['one semester', 'full year'], {}, {}) %>
  </div>

  <div class="field">
    <%= form.label :membership_expiration %>
    <%= form.date_select :membership_expiration %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :officer_id %>
    <%= form.text_field :officer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
