<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# cannot select purely by name b/c names aren't always unique, show names but still save by uin which is unique %>
  <div class="field form-group">
    <%= form.label :member %>
  <%# second parameter of collection select: M.all is unsorted, choice to sort by last name %>
  <%= form.collection_select(:member_uin, Member.order('last_name ASC'), :id, :names_with_uin) %>
  </div>

  <%# Officer selectable, doing so for member might not be best b/c would need text search mobile support due to amount of members. %>
  <%# This simple implementation allows search on PC, but not mobile. %>
  <div class="field form-group">
    <%= form.label :officer %>
    <%= form.collection_select(:officer_uin, Officer.all, :id, :name) %>
  </div>

  <div class="field form-group">
    <%= form.label :payment_method %>
    <%= form.select :method, PaymentMethod.all.collect { |t| [t.method] }, include_blank: true, class:"form-control", placeholder:"Payment Method" %>
  </div>

  <div class="field form-group">
    <%= form.label :payment_date %>
    <%= form.date_select :date, class:"form-control", placeholder: "Date" %>
  </div>

  <div class="field form-group">
    <%= form.label :membership_type %>
    <%= form.select(:membership_type, ['one semester', 'full year'], {}, {}) %>
  </div>

  <div class="field form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class:"form-control", placeholder: "Amount" %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control", placeholder: "Notes" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn-warning btn-lg btn-block' %>
  </div>
<% end %>
