<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :method %>
    <%= form.select :method, PaymentMethod.all.collect { |t| [t.method] }, include_blank: true, class:"form-control", placeholder:"Payment Method" %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class:"form-control", placeholder: "Date" %>
  </div>

  <div class="field form-group">
    <%= form.label :membership_type %>
    <%= form.select(:membership_type, ['one semester', 'full year'], {}, {}) %>
  </div>

  <div class="field form-group">
    <%= form.label :membership_expiration %>
    <%= form.date_select :membership_expiration, class:"form-control", placeholder: "membership_expiration" %>
  </div>

  <div class="field form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class:"form-control", placeholder: "Amount" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control", placeholder: "Notes" %>
  </div>

  <%# cannot select purely by name b/c names aren't always unique, show names but still save by uin which is unique %>
  <div class="field form-group">
    <%= form.label :member_uin %>
	<%= form.collection_select(:member_uin, Member.all, :id, :names_with_uin) %>
  </div>

  <%# Officer selectable, member not b/c would need text search mobile support due to amount of members. %>
  <%# This simple implementation allows search on PC, but not mobile. %>
  <%# sprint 3 try to do: form.collection_select(:officer_uin, Officer.all, :id, :officer_uin), class:"form-control". %> 
  <div class="field form-group">
    <%= form.label :officer_uin %>
    <%= form.collection_select(:officer_uin, Officer.all, :id, :officer_uin) %>
  </div>
  
  <div class="actions">
    <%= form.submit class:'btn-warning btn-lg btn-block' %>
  </div>
<% end %>
