<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :payment_mtd %>
    <%= form.select(:payment_mtd, ['Cash', 'Venmo', 'Other'], {}, {}) %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class:"form-control", placeholder: "Date" %>
  </div>

  <div class="field form-group">
    <%= form.label :membership_type %>
    <%= form.select(:membership_type, ['one semester', 'full year'], {}, {}) %>
  </div>

  <div class="field form-group">
    <%= form.label :membership_expiration %>
    <%= form.date_select :membership_expiration, class:"form-control", placeholder: "membership_expiration" %>
  </div>

  <div class="field form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class:"form-control", placeholder: "Amount" %>
  </div>

  <div class="field form-group">
    <%= form.label :member_uin %>
    <%= form.text_field :member_uin, class:"form-control", placeholder: "Member UIN" %>
  </div>

  <div class="field form-group">
    <%= form.label :officer_uin %>
    <%= form.text_field :officer_uin, class:"form-control", placeholder: "Officer UIN" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn-warning btn-lg btn-block' %>
  </div>
<% end %>
