<h1>Payments</h1>

<%= link_to 'New Payment', new_payment_path, class: 'btn btn-light btn-lg btn-block' %>
<br/>
<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>PaymentMethod</th>
      <th>Date</th>
      <th>MembershipType</th>
      <th>MembershipExpiration</th>
      <th>Amount</th>
	  <th>Officer Paid to</th>
	  <th>Member Paying</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_mtd %></td>
        <td><%= payment.date %></td>
        <td><%= payment.membership_type %></td>
        <td><%= payment.membership_expiration %></td>
        <td><%= payment.amount %></td>
		<td><%= payment.officer_uin %></td>
		<td><%= payment.member_uin %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
