<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>PaymentMethod</th>
      <th>Date</th>
      <th>MembershipType</th>
      <th>MembershipExpiration</th>
      <th>Amount</th>
	  <th>Officer Paid to</th>
	  <th>Member Paying</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_mtd %></td>
        <td><%= payment.date %></td>
        <td><%= payment.membership_type %></td>
        <td><%= payment.membership_expiration %></td>
        <td><%= payment.amount %></td>
		<td><%= payment.officer_id %></td>
		<td><%= payment.member_id %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
