<h1>Payments</h1>

<%= link_to 'New Payment', new_payment_path, class: 'btn btn-light btn-lg btn-block' %>
<br/>
<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>Member Who Paid</th>
  	  <th>Member UIN/DL</th>
      <th>Payment Method</th>
      <th>Date</th>
      <th>Membership Type</th>
      <th>Membership Expiration</th>
      <th>Amount</th>
	  <th>Officer Paid</th>
	  <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <%if !payment.member.nil?%>
          <td><%= payment.member.first_name.titleize + ' ' + payment.member.last_name.titleize %></td>
          <td><%= payment.member_uin %></td>
          <td><%= payment.method %></td>
          <td><%= payment.date %></td>
          <td><%= payment.membership_type %></td>
          <td><%= payment.membership_expiration = expiration(payment.membership_type, payment.date) %></td>
          <td><%= payment.amount %></td>
        <% end %>
        <%if !payment.officer.nil?%>
          <td><%= payment.officer.name %></td>
          <%# For member, display full name and UIN.  UIN guarantees unique, name does not, but BMCT wants name %>
          <td><%= payment.notes %></td>
        <% end %>
        <%if !payment.member.nil?%>
          <td><%= link_to 'Edit', edit_payment_path(payment), class: "btn btn-secondary" %></td>

          <td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
