<!-- Using the table method to display variables -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Payment Method</th>
      <th scope="col">Date</th>
      <th scope="col">Member Type</th>
      <th scope="col">Membership Expiration</th>
      <th scope="col">Amount</th>
      <th scope="col">Member Who Paid</th>
      <th scope="col">Officer Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @payment.payment_mtd %></td>
      <td><%= @payment.date %></td>
      <td><%= @payment.membership_type %></td>
      <td><%= @payment.membership_expiration %></td>
      <td><%= @payment.amount %></td>
      <td><%= @payment.member_uin %></td>
      <td><%= @payment.officer_uin %></td>
    </tr>
  </tbody>
</table>

<!-- <p>
  <strong>Payment Method:</strong>
  <%= @payment.payment_mtd %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Member Type:</strong>
  <%= @payment.membership_type %>
</p>

<p>
  <strong>Membership Expiration:</strong>
  <%= @payment.membership_expiration %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Member who Paid:</strong>
  <%= @payment.member_uin %>
</p>

<p>
  <strong>Officer Paid to:</strong>
  <%= @payment.officer_uin %>
<<<<<<< HEAD
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
=======
</p> -->

<%= link_to 'Edit', edit_payment_path(@payment), class:"btn btn-warning btn-lg btn-block" %>
<%= link_to 'Back', payments_path, class:"btn btn-dark btn-lg btn-block"  %>
>>>>>>> a9d3eb132d822c6bc59390c6047b5d0437d7e28e
