<!-- Using the table method to display variables -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Payment Method</th>
      <th scope="col">Date</th>
      <th scope="col">Member Type</th>
      <th scope="col">Membership Expiration</th>
      <th scope="col">Amount</th>
      <th scope="col">Member Who Paid</th>
      <th scope="col">Officer Paid</th>
	  <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @payment.method %></td>
      <td><%= @payment.date %></td>
      <td><%= @payment.membership_type %></td>
      <td><%= @payment.membership_expiration %></td>
      <td><%= @payment.amount %></td>
      <%# For member, display full name and UIN.  UIN guarantees unique, name does not, but BMCT wants name %>
	  <% @a_member_str = Member.where(member_uin: @payment.member_uin).first.inspect %>
	  <% @first_name_start = @a_member_str.index("first_name") + 13 %>
	  <% @first_name_end = @a_member_str.index("last_name") - 4 %>
	  <% @last_name_start = @a_member_str.index("last_name") + 12 %>
	  <% @last_name_end = @a_member_str.index("email") - 4 %>
	  <% @UIN_start = @a_member_str.index("member_uin") + 12 %>
	  <% @UIN_end = @a_member_str.index("first_name") - 3 %>
	  <td><%= @a_member_str[@first_name_start..@first_name_end] + " " + @a_member_str[@last_name_start..@last_name_end] + ", " + @a_member_str[@UIN_start..@UIN_end] %></td>
      <td><%= @payment.officer_uin %></td>
	  <td><%= @payment.notes %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_payment_path(@payment), class:"btn btn-warning btn-lg btn-block" %>
<%= link_to 'Back', payments_path, class:"btn btn-dark btn-lg btn-block"  %>
