<p id="notice"><%= notice %></p>

<p>
  <strong>Payment Method:</strong>
  <%= @payment.payment_mtd %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Member Type:</strong>
  <%= @payment.membership_type %>
</p>

<p>
  <strong>Membership Expiration:</strong>
  <%= @payment.membership_expiration %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Member who Paid:</strong>
  <%= @payment.member_id %>
</p>

<p>
  <strong>Officer Paid to:</strong>
  <%= @payment.officer_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>