<%= form_with(model: transcation_type) do |form| %>
  <% if transcation_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transcation_type.errors.count, "error") %> prohibited this transcation_type from being saved:</h2>

      <ul>
        <% transcation_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :intger %>
    <%= form.text_field :intger %>
  </div>

  <div class="field">
    <%= form.label :transcation_id %>
    <%= form.text_field :transcation_id %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
