<p id="notice"><%= notice %></p>

<h1>Transcation Types</h1>

<table>
  <thead>
    <tr>
      <th>Intger</th>
      <th>Transcation</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcation_types.each do |transcation_type| %>
      <tr>
        <td><%= transcation_type.intger %></td>
        <td><%= transcation_type.transcation_id %></td>
        <td><%= transcation_type.string %></td>
        <td><%= link_to 'Show', transcation_type %></td>
        <td><%= link_to 'Edit', edit_transcation_type_path(transcation_type) %></td>
        <td><%= link_to 'Destroy', transcation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcation Type', new_transcation_type_path %>
