<p id="notice"><%= notice %></p>

<h1>Members</h1>

<form>
  <legend>Show:</legend>
  <input type="checkbox" id="member_id" name="membershow" value="member_id"> UIN
  <!-- <label for="member_id">UIN</label> -->
  <input type="checkbox" id="email" name="membershow" value="email"> Email
  <!-- <label for="email">Email</label> -->
  <input type="checkbox" id="phoneNumber" name="membershow" value="phoneNumber"> Phone Number
  <!-- <label for="phoneNumber">Phone Number</label> -->
  <input type="checkbox" id="joinDate" name="membershow" value="joinDate"> Join Date
  <!-- <label for="joinDate">Join Date</label> -->
  <input type="checkbox" id="membershipType" name="membershow" value="membershipType"> Membership Type
  <!-- <label for="membershipType">Membership Type</label> -->
  <input type="checkbox" id="membershipExpiration" name="membershow" value="membershipExpiration" checked> Membership Expiration
  <!-- <label for="membershipExpiration">Membership Expiration</label> -->
    <!-- <div>
      <button type="submit">Submit form</button>
    </div> -->
</form>

<br>
<br>
<table>
  <thead>
    <tr>
      <th>UIN</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Membership Type</th>
      <th>Expiration</th>
      <th>Join Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.uin %></td>
        <td><%= member.firstname %></td>
        <td><%= member.email %></td>
        <td><%= member.membershipType %></td>
        <td><%= member.expiration %></td>
        <td><%= member.joinDate %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
