<h1>Members</h1>

<script>
  function toggleElements_id(id) {
     var myElement = document.getElementsByClassName(id);
     var displaySetting = myElement[0].style.display;

     if (displaySetting == '') {
       for (var i = 0; i < myElement.length; i++) {
         myElement[i].style.display = 'none';
       }
     }
     else {
       for (var i = 0; i < myElement.length; i++) {
         myElement[i].style.display = '';
       }
     }
   }
</script>


<%= link_to 'New Member', new_member_path, class: 'btn btn-light btn-lg btn-block' %>
<br>

<input type="checkbox" onclick="toggleElements_id('fn')" id="fnBox" checked>First Name</input>
<input type="checkbox" onclick="toggleElements_id('ln')" id="lnBox" checked>Last Name</input>
<input type="checkbox" onclick="toggleElements_id('uin')" id="uinBox" checked>UIN / DL</input>
<input type="checkbox" onclick="toggleElements_id('email')" id="emailBox" checked>Email</input>
<input type="checkbox" onclick="toggleElements_id('pn')" id="pnBox" checked>Phone Number</input>
<input type="checkbox" onclick="toggleElements_id('join')" id="joinBox" checked>Join Date</input>
<input type="checkbox" onclick="toggleElements_id('memtpye')" id="memtpyeBox" checked>Membership Type</input>
<input type="checkbox" onclick="toggleElements_id('date')" id="dateBox" checked>Payment Date</input>
<input type="checkbox" onclick="toggleElements_id('officeruin')" id="officeruinBox" checked>Officer UIN</input>
<input type="checkbox" onclick="toggleElements_id('mtd')" id="mtdBox" checked>Payment Method</input>

<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th class= 'fn' style="display: ;"><%= sortable 'first_name'%></th>
      <th class= 'ln' style="display: ;"><%= sortable 'last_name'%></th>
      <th class= 'uin' style="display: ;"><%= sortable 'member_uin', 'UIN / DL'%></th>
      <th class= 'email' style="display: ;"><%= sortable 'email'%></th>
      <th class= 'pn' style="display: ;"><%= sortable 'phone_number'%></th>
      <th class= 'join' style="display: ;"><%= sortable 'join_date'%></th>
      <th class= 'memtpye' style="display: ;"><%= sortable 'membership_type'%></th>
      <th class= 'date' style="display: ;"><%= sortable 'date'%></th>
      <th class= 'officeruin' style="display: ;"><%= sortable 'officer_uin'%></th>
      <th class= 'mtd' style="display: ;"><%= sortable 'method'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id = 'fulltable'>
    <% @members.each do |member| %>
      <tr>
        <td class='fn'><%= member.first_name %></td>
        <td class= 'ln'><%= member.last_name %></td>
        <td class= 'uin'><%= member.member_uin %></td>
        <td class= 'email'><%= member.email %></td>
        <td class= 'pn'><%= member.phone_number %></td>
        <td class= 'join'><%= member.join_date %></td>
        <td class= 'memtpye'><%= member.payments.any? ? member.payments.first.membership_type : "N/A" %></td>
        <td class= 'date'><%= member.payments.any? ? member.payments.first.date : "N/A" %></td>
        <td class= 'officeruin'><%= member.payments.any? ? member.payments.first.officer.officer_uin : "N/A" %></td>
        <td class= 'mtd'><%= member.payments.any? ? member.payments.first.method : "N/A" %></td>
        <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
