<p id="notice"><%= notice %></p>

<h1>Members</h1>

<script>
  function toggleElements_id(id) {
     var myElement = document.getElementsByClassName(id);
     var displaySetting = myElement[0].style.display;

     if (displaySetting == 'block') {
       for (var i = 0; i < myElement.length; i++) {
         myElement[i].style.display = 'none';
       }
     }
     else {
       for (var i = 0; i < myElement.length; i++) {
         myElement[i].style.display = 'block';
       }
     }
   }
</script>

<input type="checkbox" onclick="toggleElements_id('fn')" id="fnBox">First Name</input>
<input type="checkbox" onclick="toggleElements_id('ln')" id="'lnBox'">Last Name</input>
<input type="checkbox" onclick="toggleElements_id('uin')" id="'uinBox'">UIN</input>
<input type="checkbox" onclick="toggleElements_id('email')" id="'emailBox'">Email</input>
<input type="checkbox" onclick="toggleElements_id('pn')" id="'pnBox'">Phone Number</input>
<input type="checkbox" onclick="toggleElements_id('join')" id="'joinBox'">Join Date</input>
<!-- <input type="checkbox" onclick="toggleElements('join', 'joinv', 'joinBox')" id="'joinBox'">Membership Type</input>
<input type="checkbox" onclick="toggleElements('join', 'joinv', 'joinBox')" id="'joinBox'">Payment Date</input>
<input type="checkbox" onclick="toggleElements('join', 'joinv', 'joinBox')" id="'joinBox'">...?</input>
<input type="checkbox" onclick="toggleElements('join', 'joinv', 'joinBox')" id="'joinBox'">Payment Method</input>
<input type="checkbox" onclick="toggleElements('join', 'joinv', 'joinBox')" id="'joinBox'">Amount</input> -->

<!-- Check boxes -->



<!-- <table id="hi"></table>
<script type = "text/javascript">
function show() {
  document.getElementById("hi").innerHTML = 'hello'
}
</script>
<input type = "button" onclick = "show()" value = "Display"> -->
<%= link_to 'New Member', new_member_path, class: 'btn btn-light btn-lg btn-block' %>


<script>
document.getElementById("check_").addEventListener("click", showUIN);
function showUIN() {
  document.getElementById("check_").innerHTML = 'UIN'
}


</script>

<br>
<br>
<table class="table table-striped table-dark table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th class= 'fn'><%= sortable 'first_name'%></th>
      <th class= 'ln'><%= sortable 'last_name'%></th>
      <th class= 'uin'><%= sortable 'member_uin', 'UIN'%></th>
      <th class= 'email'><%= sortable 'email'%></th>
      <th class= 'pn'><%= sortable 'phone_number'%></th>
      <th class= 'join'><%= sortable 'join_date'%></th>
      <th class= 'memtpye'><%= sortable 'membership_type'%></th>
      <th class= 'date'><%= sortable 'date'%></th>
      <th class= 'officer'><%= sortable 'officer paid to'%></th>
      <th class= 'mtd'><%= sortable 'payment_mtd'%></th>
      <th class= 'amnt'><%= sortable 'amount'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody id = 'fulltable'>
    <% @members.each do |member| %>
      <tr>
        <td class='fn'><%= member.first_name %></td>
        <td class= 'ln'><%= member.last_name %></td>
        <td class= 'uin'><%= member.member_uin %></td>
        <td class= 'email'><%= member.email %></td>
        <td class= 'pn'><%= member.phone_number %></td>
        <td class= 'join'><%= member.join_date %></td>
        <td><%= member.payments.any? ? member.payments.first.membership_type : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.date : "N/A" %></td>
        <td><%= member.payments.any? ? "Link Latter" : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.payment_mtd : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.amount : "N/A" %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
