<p id="notice"><%= notice %></p>


<!-- <form>
  <legend>Show:</legend>
  <input type="checkbox" id="member_id" name="membershow" value="member_id"> UIN
  <input type="checkbox" id="email" name="membershow" value="email"> Email
  <input type="checkbox" id="phoneNumber" name="membershow" value="phoneNumber"> Phone Number
  <input type="checkbox" id="joinDate" name="membershow" value="joinDate"> Join Date
  <input type="checkbox" id="membershipType" name="membershow" value="membershipType"> Membership Type
  <input type="checkbox" id="membershipExpiration" name="membershow" value="membershipExpiration" checked> Membership Expiration
</form> -->


<!-- Check boxes -->
<div class='field'>
  <% @attributes.each do |attr|%>
    <%= check_box_tag 'check[]', attr%>
    <%= attr %>
  <% end %>
</div>


<!-- Table -->
<!-- <div class='field'>

  <% @attributeName.each do |attr|%>
    <p><b><%= attr %></b></p>
    <% @attr.each do |mem|%>
      <table>
        <%= mem[attr] %>
      </table>
    <% end %>
  <% end %>
</div> -->

<p id="member_uin"></p>
<p id="email"></p>
<script>
document.getElementById("check_").addEventListener("click", showUIN);
function showUIN() {
  document.getElementById("check_").innerHTML = 'UIN'
}

// document.getElementById("email").addEventListener("click", showEmail);
// function showEmail() {
//   document.getElementById("emailID").innerHTML = 'Email'
// }

</script>

<br>
<br>
<table>
  <thead>
    <tr>
      <th><%= sortable 'first_name'%></th>
      <th><%= sortable 'last_name'%></th>
      <th><%= sortable 'member_uin', 'UIN'%></th>
      <th><%= sortable 'email'%></th>
      <th><%= sortable 'phone_number'%></th>
      <th><%= sortable 'join_date'%></th>
      <th><%= sortable 'membership_type'%></th>
      <th><%= sortable 'date'%></th>
      <th><%= sortable 'officer paid to'%></th>
      <th><%= sortable 'payment_method'%></th>
      <th><%= sortable 'amount'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <script>
  document.getElementById("member_uin").addEventListener("click", showUIN);
  function showUIN() {
    document.getElementById("uin").innerHTML = 'UIN'
  }

  document.getElementById("email").addEventListener("click", showEmail);
  function showEmail() {
    document.getElementById("emailID").innerHTML = 'Email'
  }

  </script>



  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.member_uin %></td>
        <td><%= member.email %></td>
        <td><%= member.phone_number %></td>
        <td><%= member.join_date %></td>
        <td><%= member.payments.any? ? member.payments.first.membership_type : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.date : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.officer_uin.name : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.method : "N/A" %></td>
        <td><%= member.payments.any? ? member.payments.first.amount : "N/A" %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
<br>
<%= link_to "Sign Out", destroy_admin_session_path %>
