<p id="notice"><%= notice %></p>

<p>
  <strong>Uin:</strong>
  <%= @member.uin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Membershiptype:</strong>
  <%= @member.membershipType %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @member.expiration %>
</p>

<p>
  <strong>Joindate:</strong>
  <%= @member.joinDate %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
