<p id="notice"><%= notice %></p>

<p>
  <strong>Uin:</strong>
  <%= @member.member_uin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Membershiptype:</strong>
  <%= @member.phone_number %>
</p>

<p>
  <strong>Joindate:</strong>
  <%= @member.join_date %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
