<p id="notice"><%= notice %></p>

<p>
  <strong>UIN:</strong>
  <%= @member.uin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>MembershipType:</strong>
  <%= @member.membershipType %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @member.expiration %>
</p>

<p>
  <strong>JoinDate:</strong>
  <%= @member.joinDate %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
